{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <h1 class="mb-5">{{ title }}</h1>
</div>
{% if msg %}
<div class="alert alert-danger text-center" role="alert">
    {{ msg }}
</div>
{% endif %}
<form action="{{ url_for('jumps.calculate_jump') }}" method="post" class="mb-4">
    <div class="mb-3">
        <label for="score" class="form-label fw-bold">Strength score (max: 30)</label>
        <input type="number" class="form-control" id="score" name="score">
    </div>
    <div class="text-center mb-5"><button type="submit" class="btn btn-primary">Calculate</button></div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="text-center mb-3">
                <h3>Long Jump</h3>
            </div>


            {% if res %}
            <div class="d-flex justify-content-center">
                <p class="me-5"><strong>Standing:</strong></p>
                <p><strong>In movement:</strong></p>
            </div>
            <div class="d-flex justify-content-center fw-bold">
                <p class="me-5">{{ res[0]['long_standing_ft'] }} ft.</p>
                <p>{{ res[0]['long_movement_ft'] }} ft.</p>
            </div>
            <div class="d-flex justify-content-center fw-bold">
                <p class="me-5">{{ res[0]['long_standing_mt'] }} mt.</p>
                <p>{{ res[0]['long_movement_mt'] }} mt.</p>
            </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-6">
            <div class="text-center mb-3">
                <h3>High Jump</h3>
            </div>

            {% if res %}
            <div class="d-flex justify-content-center">
                <p class="me-5"><strong>Standing:</strong></p>
                <p><strong>In movement:</strong></p>
            </div>
            <div class="d-flex justify-content-center fw-bold">
                <p class="me-5">{{ res[1]['high_standing_ft'] }} ft.</p>
                <p>{{ res[1]['high_movement_ft'] }} ft.</p>
            </div>
            <div class="d-flex justify-content-center fw-bold">
                <p class="me-5">{{ res[1]['high_standing_mt'] }} mt.</p>
                <p>{{ res[1]['high_movement_mt'] }} mt.</p>
                {% endif %}
            </div>

</form>
</div>
</div>

{% endblock %}