{% extends 'base.html' %}

{% block title %}Names Database{% endblock %}

{% block content %}

<div class="row">
    <h1 class="mb-5">{{ title }}</h1>
</div>

<div class="sticky-top py-2" style="top: 65px; z-index: 1020;">
    <div class="container">
        <a href="{{ url_for('names.names') }}" class="btn btn-primary">
            <i class="bi bi-arrow-left me-2"></i> Back
        </a>
    </div>
</div>

{% if msg %}
<div class="alert alert-danger text-center" role="alert">
    {{ msg }}
</div>
{% endif %}

<div class="my-4 d-flex justify-content-center">
    <div class="w-50">
        <input type="text" id="searchInput" class="form-control" placeholder="Search name..." onkeyup="filterTable()">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-md-6 col-lg-4">
        <form action="{{ url_for('names.standard_list') }}" method="get">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title mb-4">Standard</h5>
                    <div class="mb-3 text-start">
                        <label for="speciesSelect" class="form-label">Species</label>
                        <select name="standardSpecies" id="speciesSelect" class="form-select">
                            <option selected disabled>-- Select a species --</option>
                            {% for label, value in species.items() %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <button id="generateBtn" class="btn btn-primary w-100" type="submit" disabled>
                        Generate Name
                    </button>

                </div>
            </div>
        </form>
    </div>

    <div class="col-6 col-md-6 col-lg-4">
        <form action="{{ url_for('names.norse_list') }}" method="get">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title mb-4">Norse</h5>

                    <div class="mb-3 text-start">
                        <label for="speciesSelectNorse" class="form-label">Species</label>
                        <select name="norseSpecies" id="speciesSelectNorse" class="form-select">
                            <option selected disabled>-- Select a species --</option>
                            {% for label, value in norse.items() %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button id="generateBtnNorse" class="btn btn-primary w-100" type="submit" disabled>
                        Generate Name
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>

<!-- Male Names Table -->
<div class="card shadow-sm my-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Name list</h4>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Name {% if list and 'surname' in list[0] %}/ Surname{% endif %}</th>
                        {% if list and 'surname' not in list[0] %}
                        <th>Meaning (EN)</th>
                        <th>Meaning (IT)</th>
                        <th>Source</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for name in list %}
                    <tr>
                        <td>
                            {% if name.male %}
                            {{ name.male }} {{ name.surname }}
                            {% elif name.female %}
                            {{ name.female }} {{ name.surname }}
                            {% endif %}
                        </td>
                        {% if list and 'surname' not in list[0] %}
                        <td>{{ name.meaning_en }}</td>
                        <td>{{ name.meaning_it }}</td>
                        <td>{{ name.source | safe }}</td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-muted py-4">
                            Select an option
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/species.js') }}"></script>
{% endblock %}