{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <h1 class="mb-5">{{ title }}</h1>
</div>

<div>
    <h3 class="text-center">Open a bag</h3>
</div>

<div class="row mb-5 d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card shadow mb-3 mb-sm-3 mb-md-3 mb-lg-3">
            <div class="card-body">
                <a href="{{ url_for('wariatures.open_bag', size='s') }}" class="text-decoration-none"
                    style="color: black;">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='img/bag-small.png') }}"
                            style="width: 30%; border-top-left-radius: 20px; border-top-right-radius: 20px;"
                            alt="roll initiative">
                    </div>
                    <div class="text-center mt-3">
                        <div><b>Small Bag</b></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div class="card shadow mb-3 mb-sm-3 mb-md-3 mb-lg-3">
            <div class="card-body">
                <a href="{{ url_for('wariatures.open_bag', size='m') }}" class="text-decoration-none"
                    style="color: black;">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='img/bag-medium.png') }}"
                            style="width: 30%; border-top-left-radius: 20px; border-top-right-radius: 20px;"
                            alt="roll initiative">
                    </div>
                    <div class="text-center mt-3">
                        <div><b>Medium Bag</b></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
        <div class="card shadow mb-3 mb-sm-3 mb-md-3 mb-lg-3">
            <div class="card-body">
                <a href="{{ url_for('wariatures.open_bag', size='l') }}" class="text-decoration-none"
                    style="color: black;">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='img/bag-large.png') }}"
                            style="width: 30%; border-top-left-radius: 20px; border-top-right-radius: 20px;"
                            alt="roll initiative">
                    </div>
                    <div class="text-center mt-3">
                        <div><b>Large Bag</b></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <table id="initiative-table" class="table text-center w-50">
            <thead>
                <tr>
                    <th class="bg-dark text-white">Miniatures</th>
                </tr>
            </thead>
            <tbody>
                {% if miniatures %}
                {% for miniature in miniatures %}
                <tr>
                    <td>{{ miniature }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>Please open a bag</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}